# DEFAULT OWNER
# ========================
* @Aza126

# CORE DATA CONTRACT
# ========================
/src/common/schema.py          @Aza126

# DATA ENGINEERING
# ========================
/.github/                      @Aza126

/src/common/__init__.py        @Aza126
/src/common/schema.py          @Aza126
/src/common/database.py        @Aza126
/src/common/utils.py           @Aza126

/src/scripts/database.py               @Aza126
/src/scripts/prepare_training_data.py  @Aza126
/src/scripts/download_models.py        @Aza126

/src/ingestion.py              @Aza126
/src/preprocess.py             @Aza126
/src/inference.py              @Aza126


# MODEL TRAINING 
# ========================
/src/training/rf.py            @Aza126
/src/training/lstm.py          @Aza126

# DASHBOARD
# ========================
/dashboard/                    @Aza126

# CONFIG 
# ========================
/configs/                      @Aza126
/requirements.txt              @Aza126
/.gitignore                    @Aza126
/.env.example                  @Aza126

# NO OWNER (auto / generated)
# ========================
# artifacts/, models weights download → handled outside git

# OPEN FILE
# ========================
README.md
