# Chủ sở hữu mặc định cho toàn bộ project
*                       @Aza126

# 1. Quản lý luồng chạy tự động (GitHub Actions)
# Cực kỳ quan trọng vì file auto_crawl.yml điều khiển việc cào dữ liệu
/.github/workflows/    @Aza126

# 2. Quản lý dữ liệu AQI (raw và processed)
/data/                  @Aza126

# 3. Quản lý mã nguồn chính và Logic xử lý
/src/                   @Aza126
/configs/               @Aza126

# 4. Quản lý giao diện hiển thị
/dashboard/             @Aza126

# 5. Quản lý mô hình dự báo
/models/                @Aza126

# 6. Các file cấu hình cốt lõi
/requirements.txt       @Aza126
/.gitignore             @Aza126
