# Chủ sở hữu mặc định cho toàn bộ project
* @Aza126

# 1. Kỹ sư Dữ liệu (Data Engineer)
# Phụ trách toàn bộ phân hệ trích xuất, làm sạch và lưu trữ dữ liệu
/.github/workflows/     @Aza126
/data/                  @Aza126
/src/ingestion.py       @Aza126
/src/preprocess.py      @Aza126

# 2. Hai Nhà Khoa học Dữ liệu (Mô hình RF & LSTM)
# Trọng tâm vào kỹ thuật Feature Engineering và thiết lập mạng nơ-ron
/models/                @Aleph64 @ThanhIsHere
/src/models/            @Aleph64 @ThanhIsHere
/src/inference.py       @Aleph64 @ThanhIsHere

# 3. Kỹ sư Trực quan hóa & Tích hợp (Full-stack/BI)
# Chịu trách nhiệm phát triển giao diện người dùng tương tác
/dashboard/             @Aza126

# 4. Các file cấu hình cốt lõi
# Giữ quyền quản lý các file này để tránh xung đột môi trường cài đặt của cả nhóm
/configs/               @Aza126
/requirements.txt       @Aza126
/.gitignore             @Aza126

# 5. "Mở khóa" cho README.md
README.md