# .gitignore
# Bỏ qua môi trường ảo Python
venv/
env/
.venv/
.env/

# Bỏ qua cấu hình của IDE
.vscode/
.idea/

# Bỏ qua các file phân tích/phát triển
.ipynb_checkpoints/

# Bỏ qua các file cache của Python
__pycache__/
*.pyc
*.pyo
*.pyd

# File data, models, bla bla...
.venv
.env
data/
artifacts/
models/

# Bỏ qua các tập dữ liệu thô và cơ sở dữ liệu cục bộ
*.csv
*.parquet
*.pkl
*.h5
*.keras
*.db
*.sqlite3

# Bỏ qua các file cấu hình hệ điều hành
.DS_Store
Thumbs.db

# Bỏ qua các file log
*.log