# Core
requests==2.31.0
tenacity
python-dotenv==1.0.1
PyYAML==6.0.1
pymongo==4.6.2
gdown==5.1.0

# Data Science (Bỏ phiên bản cụ thể để pip tự chọn bản .whl nhanh nhất)
numpy
pandas
scikit-learn
tensorflow-cpu  # Dùng bản CPU để cài đặt nhanh hơn gấp 5 lần
joblib
pyarrow

# Dashboard
streamlit
streamlit-folium
folium
plotly
matplotlib
seaborn
