# --- Core & API (DE) ---
requests==2.33.1
python-dotenv==1.2.2
PyYAML==6.0.3
pymongo==4.16.0

# --- Machine Learning (RF & LSTM) ---
# Quan trọng: Giữ numpy < 2.0.0 để tránh lỗi tương thích với tensorflow/sklearn
numpy>=1.24.0,<2.0.0
pandas==3.0.2
scikit-learn==1.8.0
tensorflow==2.21.0
keras==3.14.0
joblib==1.5.3

# --- Visualization & Dashboard (VE) ---
streamlit==1.56.0
streamlit-folium==0.27.1
folium==0.20.0
plotly==6.7.0
matplotlib==3.10.8
seaborn==0.13.2
